<!--The content below is only a placeholder and can be replaced.-->
<script src="app.component.ts"></script>
<body>
<div class="con">
  <br>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui fluid card" style="width: 130px">
        <div class="image">
          <img src="../assets/img/User_100px.png">
        </div>
        <div class="content">
          <a href="customer.php" class="header">Customer</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card" style="width: 130px">
        <div class="image">
          <img src="../assets/img/Ingredients_100px.png">
        </div>
        <div class="content">
          <a href="item.php" class="header">Item</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card" style="width: 130px">
        <div class="image">
          <img src="../assets/img/Purchase%20Order_100px.png">
        </div>
        <div class="content">
          <a href="order.php" class="header">Place Order</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card" style="width: 130px">
        <div class="image">
          <img src="../assets/img/Report%20Card_100px.png">
        </div>
        <div class="content">
          <a class="header" href="report.php">Report</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card" style="width: 130px">
        <div class="image">
          <img src="../assets/img/Settings_100px.png">
        </div>
        <div class="content">
          <a class="header" href="#">Settings</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card" style="width: 130px">
        <div class="image">
          <img src="../assets/img/Maintenance_100px.png">
        </div>
        <div class="content">
          <a class="header" href="#">Maintenance</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ui inverted segment" style="width: 80%">
    <p><img src="../assets/img/jesXEiS.gif" width="500px" style="margin-left: 180px"></p>
    <div class="ui inverted divider"></div>
    <p></p>
    <h4 class="ui horizontal inverted divider">
      #POS SYSTEM
    </h4>
  </div>
  <br>
  <br>
  <div class="ui four statistics" style="width: 80%">
    <div class="statistic">
      <div class="value">
        220
      </div>
      <div class="label">
        Items
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Three<br>
        Thousand
      </div>
      <div class="label">
        Customers
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="plane icon"></i> 5
      </div>
      <div class="label">
        Flights
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="../assets/img/Team_48px.png" class="ui circular inline image">
        42
      </div>
      <div class="label">
        Team Members
      </div>
    </div>
  </div>
  <br>
  <br>
  <h3 style="color: white;background-color: #2e3032;font-style: oblique;width: 80%">Developed by No One(PVT)Limited</h3>
  <br>
  <br>
</div>
</body>


